extends /layout/page.pug

block content

  +form('Request Password Reset')(method='post').ui-frame.small-width

    block primary-form

      p.form-prompt.
        Enter your email and click <strong>Send Request</strong> to recieve
        a further instructions to reset your password

      label(
        for='email'
        class='required'
      ) Email

      +input(
        id='email'
        type='email'
        name='email'
      )

    div.actions
      input(
        type='submit'
        value='Send Request'
      )

