extends /layout/page

block content

  +form('Reset Your Password')(method='post').ui-frame.small-width

    block primary-form

      label(
        for='password'
      ).required New Password

      +input(
        name='password'
        id='password'
        type='password'
      )

      label(
        for='confirmPassword'
      ).required Confirm Password

      +input(
        name='confirmPassword'
        id='confirmPassword'
        type='password'
      )

    div.actions
      input(
        type='submit'
        value='Change Password'
      )
