extends /layout/page

block content

  +form('Remove Client')(method='post').ui-frame.med-width

    +menu('list:access.client:primary', null, { inline: true }).primary
    +menu('list:access.client:local', null, { inline: true, resource: result }).secondary

    table
      tbody
        tr
          th Client ID
          td=result.id
        tr
          th Label
          td=result.label
        tr
          th Confidential
          td=util.string.fmtYesNo(result.isConfidential)
        tr
          th Owner
          td=(result.ownerUsername || 'Nobody')

    p.form-prompt.
      The client <strong>#{result.label}</strong> will be permanently
      removed and cannot be undone. Are you sure you want to continue?

    div.actions
      input(
        type='submit'
        value='Remove Account'
      )

